## Riigid ja kuritöö katekooriad

In [22]:
import pandas as pd
df = pd.read_csv("../data/cleanedDatasets/nan_rows/country_names_changed/police_recorded_offences_by_offence_category_new.tsv", sep="\t")
df.head(10)

,freq,iccs,unit,geo,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,A,ICCS0101,NR,Albania,88.0,82.0,118.0,124.0,125.0,107.0,98.0,54.0,71.0,52.0,51.0,58.0,52.0,61.0,42.0,34.0
1,A,ICCS0101,NR,Austria,58.0,51.0,61.0,80.0,88.0,63.0,43.0,42.0,49.0,61.0,73.0,74.0,54.0,59.0,65.0,75.0
2,A,ICCS0101,NR,Bosnia and Herzegovina,66.0,67.0,54.0,49.0,60.0,46.0,49.0,56.0,42.0,34.0,36.0,37.0,42.0,31.0,34.0,35.0
3,A,ICCS0101,NR,Belgium,204.0,189.0,189.0,214.0,206.0,204.0,210.0,231.0,175.0,198.0,192.0,147.0,149.0,157.0,185.0,162.0
4,A,ICCS0101,NR,Bulgaria,172.0,150.0,148.0,128.0,141.0,109.0,112.0,126.0,79.0,95.0,92.0,81.0,67.0,89.0,76.0,74.0
5,A,ICCS0101,NR,Switzerland,54.0,51.0,53.0,46.0,45.0,57.0,41.0,57.0,45.0,45.0,50.0,46.0,47.0,42.0,42.0,53.0
6,A,ICCS0101,NR,Cyprus,9.0,19.0,7.0,8.0,19.0,11.0,10.0,12.0,11.0,7.0,14.0,13.0,15.0,14.0,7.0,10.0
7,A,ICCS0101,NR,Czechia,113.0,105.0,105.0,83.0,95.0,90.0,81.0,88.0,65.0,40.0,55.0,81.0,57.0,46.0,79.0,68.0
8,A,ICCS0101,NR,Germany,656.0,721.0,699.0,689.0,619.0,623.0,645.0,655.0,747.0,738.0,632.0,586.0,719.0,631.0,614.0,661.0
9,A,ICCS0101,NR,Denmark,53.0,56.0,49.0,49.0,43.0,41.0,62.0,52.0,53.0,61.0,54.0,54.0,51.0,42.0,59.0,53.0

Algul tuleb ICCS koodide tähendused välja kirjutada

In [39]:
iccs_mapping = {
    "ICCS0101": "Intentional homicide",
    "ICCS0102": "Attempted intentional homicide",
    "ICCS02011": "Assault",
    "ICCS020111": "Serious assault",
    "ICCS020221": "Kidnapping",
    "ICCS0301" : "Sexual violence",
    "ICCS03011" : "Rape",
    "ICCS03012" : "Sexual Assault",
    "ICCS030221" : "Child pornography",
    "ICCS0302" : "Sexual exploitation",
    "ICCS0401": "Robbery",
    "ICCS0501": "Burglary",
    "ICCS05012": "Burglary of private residential premises",
    "ICCS0502": "Theft",
    "ICCS05021": "Theft of a motorized vehicle or parts thereof",
    "ICCS050211": "Theft of a motorized land vehicle",
    "ICCS0601" : "Unlawful acts involving controlled drugs",
    "ICCS0701" : "Fraud",
    "ICCS0703" : "Corruption",
    "ICCS07031" : "Bribery",
    "ICCS07041" : "Money laundering",
    "ICCS0903" : "Acts against computer systems",
    "ICCS09051" : "Participation in an organized criminal group",
    "ICCS1001" : "Acts that cause environmental pollution or degradation",
    "ICCS1004" : "Acts that result in the depletion or degradation of natural resources",
    "ICCS1002" : "Acts involving the movement or dumping of waste",
    "ICCS1003" : "Trade or possession of protected or prohibited species of fauna and flora",
    "ICCS02-04": "Serious violent crimes (aggregate)",
    "TOTAL": "Total offences"
}

# asendan väärtused iccs veerus
df['iccs'] = df['iccs'].replace(iccs_mapping)

display(df[['geo', 'iccs']].head(10))

                      geo                  iccs
0                 Albania  Intentional homicide
1                 Austria  Intentional homicide
2  Bosnia and Herzegovina  Intentional homicide
3                 Belgium  Intentional homicide
4                Bulgaria  Intentional homicide
5             Switzerland  Intentional homicide
6                  Cyprus  Intentional homicide
7                 Czechia  Intentional homicide
8                 Germany  Intentional homicide
9                 Denmark  Intentional homicide

Esimese kümne rea sisust ei saa väga aru, kas ikka kõik väärtused vahetusid õigesti. Kontrollin.

In [41]:
print("Kõik unikaalsed kuriteoliigid, mis on tabelis olemas:")
print(df['iccs'].unique())

print("\nSuvalised 10 rida:") # võtan suvalised 10 rida datasetist
display(df.sample(10))

Kõik unikaalsed kuriteoliigid, mis on tabelis olemas:
['Intentional homicide' 'Attempted intentional homicide' 'Serious assault'
 'Kidnapping' 'Sexual violence' 'Rape' 'Sexual Assault'
 'Sexual exploitation' 'Child pornography' 'Robbery' 'Burglary'
 'Burglary of private residential premises' 'Theft'
 'Theft of a motorized vehicle or parts thereof'
 'Unlawful acts involving controlled drugs' 'Fraud' 'Corruption' 'Bribery'
 'Money laundering' 'Acts against computer systems'
 'Participation in an organized criminal group'
 'Acts that cause environmental pollution or degradation'
 'Acts involving the movement or dumping of waste'
 'Trade or possession of protected or prohibited species of fauna and flora'
 'Acts that result in the depletion or degradation of natural resources']

Suvalised 10 rida:

,freq,iccs,unit,geo,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
147,A,Attempted intentional homicide,P_HTHAB,Netherlands,9.14,18.45,23.17,23.76,21.61,19.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
711,A,Robbery,NR,Netherlands,13175.00,16265.00,16290.00,15585.00,14940.00,13345.00,10450.00,9730.00,8980.00,7975.00,7785.00,8590.00,7305.00,5550.00,5970.00,6000.00
667,A,Child pornography,P_HTHAB,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.05,7.11,8.24,10.20,8.86,10.01,10.67,5.37
1412,A,Money laundering,NR,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,992.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1321,A,Bribery,NR,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.00,27.00,315.00,46.00,13.00,53.00,10.00,143.00
614,A,Sexual exploitation,P_HTHAB,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.35,7.73,9.91,8.97,11.57
548,A,Sexual Assault,P_HTHAB,Northern Ireland,79.59,75.41,76.15,71.40,74.55,54.03,62.86,70.52,73.50,75.80,77.99,NaN,NaN,NaN,NaN,NaN
722,A,Robbery,NR,Scotland,2963.00,2496.00,2557.00,2244.00,1832.00,1499.00,1497.00,1327.00,1435.00,1556.00,1807.00,NaN,NaN,NaN,NaN,NaN
637,A,Child pornography,NR,Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00,22.00,5.00
894,A,Burglary of private residential premises,P_HTHAB,Greece,160.55,169.89,221.26,247.85,254.30,232.19,209.40,221.24,217.18,91.88,79.39,85.92,59.94,55.39,60.96,60.64

## Riikide spetsialiteet