## riigid ja regioonid
Mis linnad ja regioonid on kõige ohutumad? Mis regioonides on üle euroopaliselt mingi kuritöö liiki kõige rohkem

In [28]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/cleanedDatasets/nan_rows/regionDatasets/region_names_changed2/police_recorded_offences_by_NUTS_3_region_new.tsv", sep="\t")

df['total'] = np.mean(df.iloc[:, 4:19].values, axis=1)
df.head(10)

,freq,unit,iccs,geo,2008,2009,2010,2011,2012,2013,...,2016,2017,2018,2019,2020,2021,2022,2023,country,total
0,A,NR,ICCS0101,Albania,88.0,82.0,118.0,124.0,126.0,107.0,...,71.0,52.0,51.0,58.0,52.0,61.0,42.0,34.0,Albania,78.933333
1,A,NR,ICCS0101,Shqipëria,88.0,82.0,118.0,124.0,126.0,107.0,...,71.0,52.0,51.0,58.0,52.0,61.0,42.0,34.0,Albania,78.933333
2,A,NR,ICCS0101,Veri,40.0,37.0,54.0,53.0,51.0,49.0,...,22.0,19.0,26.0,18.0,21.0,21.0,17.0,14.0,Albania,32.533333
3,A,NR,ICCS0101,Dibër,3.0,4.0,6.0,8.0,5.0,7.0,...,0.0,3.0,5.0,3.0,0.0,4.0,1.0,0.0,Albania,3.600000
4,A,NR,ICCS0101,Durrës,8.0,15.0,15.0,16.0,8.0,13.0,...,4.0,6.0,6.0,4.0,9.0,3.0,5.0,4.0,Albania,8.533333
5,A,NR,ICCS0101,Kukës,4.0,3.0,5.0,1.0,9.0,3.0,...,2.0,1.0,3.0,0.0,1.0,1.0,0.0,0.0,Albania,2.600000
6,A,NR,ICCS0101,Lezhë,6.0,9.0,10.0,14.0,11.0,15.0,...,8.0,3.0,3.0,6.0,6.0,4.0,3.0,4.0,Albania,7.400000
7,A,NR,ICCS0101,Shkodër,19.0,6.0,18.0,14.0,18.0,11.0,...,8.0,6.0,9.0,5.0,5.0,9.0,8.0,6.0,Albania,10.400000
8,A,NR,ICCS0101,Qender,24.0,24.0,36.0,34.0,32.0,35.0,...,24.0,11.0,12.0,17.0,13.0,19.0,10.0,13.0,Albania,22.466667
9,A,NR,ICCS0101,Elbasan,8.0,3.0,11.0,8.0,6.0,4.0,...,6.0,1.0,2.0,5.0,5.0,9.0,2.0,4.0,Albania,5.400000

In [29]:
def puhasta(df):
    if not df.empty:
        mask = ~df['geo'].str.startswith("Extra-Regio NUTS")
        copy_df = df[mask].copy()
        return copy_df

# Kasutame maski DataFrame'i filtreerimiseks
df = puhasta(df)

In [57]:
def leia_ohutuim(iccs, df):
    if not df.empty:
        df_new = df.loc[df['iccs']==iccs, ['geo','iccs','total','country', 'unit']]
        df_new = df_new.sort_values('total', ascending=True)
        if not df_new.empty:
            riik = df_new.iloc[0]['country']
            regioon = df_new.iloc[0]['geo']
            keskmine = df_new.iloc[0]['total']
            yhik = df_new.iloc[0]['unit']
            print(f"Ohutuim regioon on: {regioon} riigis {riik}\n")
            print(f"Keskmine kogus on: {keskmine}\n")
            print(f"Ühik on: {yhik}")
        else:
            print(df.iloc[0]['country'])
    return

leia_ohutuim("ICCS0101", df)

Ohutuim regioon on: Innviertel riigis Austria

Keskmine kogus on: 0.3106666666666666

Ühik on: P_HTHAB

In [37]:
def tyhjadRead(df):
    if not df.empty:
        copy_df = df.copy(deep=True)
        for column in df.columns:
            copy_df.loc[copy_df[column]==np.nan, column] = 0
        return copy_df

def eemaldaRead(df):
    veeruNr = df.shape[1]
    mitu =  veeruNr - 6;
    print(mitu)
    if not df.empty:
        copy_df = df.copy(deep=True)
        copy_df = copy_df.dropna(thresh=mitu)
        return copy_df

df = eemaldaRead(tyhjadRead(df))

leia_ohutuim("ICCS0101", df)

16
Ohutuim regioon on: Innviertel riigis Austria

Keskmine kogus on: 0.3106666666666666

Ühik on: P_HTHAB

In [31]:
def leia_ohtlikuim(iccs, df):
    df_new = df.loc[df['iccs']==iccs, ['geo','iccs','total','country', 'unit']]
    df_new = df_new.sort_values('total', ascending=False)
    riik = df_new.iloc[0]['country']
    regioon = df_new.iloc[0]['geo']
    keskmine = df_new.iloc[0]['total']
    yhik = df_new.iloc[0]['unit']
    print(f"Kõige ohtlikum regioon on: {regioon} riigis {riik}\n")
    print(f"Keskmine kogus on: {keskmine}\n")
    print(f"Ühik on: {yhik}")
    return

leia_ohtlikuim("ICCS0101", df)

Kõige ohtlikum regioon on: Türkiye riigis Turkey

Keskmine kogus on: 2032.4

Ühik on: NR

In [32]:
#loon kaks dataframe'i, ühed kus unit on NR ja teised kus unit on P_HTHAB (per hundred thousand habitants)
df1 = df.loc[df['unit']=='NR']
df2 = df.loc[df['unit']=='P_HTHAB']

unikaalsed_riigid = df1['country'].unique()
countries1 = {}

for riik in unikaalsed_riigid:
    # Filtreerime algse DataFrame'i ainult selle riigi ridade järgi
    alamtabel = df1[df1['country'] == riik].copy()

    # Salvestame alamtabeli sõnastikku
    countries1[riik] = alamtabel

    print(f"Loodi alamtabel riigile: {riik}. Ridade arv: {len(alamtabel)}")

Loodi alamtabel riigile: Albania. Ridade arv: 68
Loodi alamtabel riigile: Austria. Ridade arv: 321
Loodi alamtabel riigile: Bosnia and Herzegovina. Ridade arv: 4
Loodi alamtabel riigile: Belgium. Ridade arv: 404
Loodi alamtabel riigile: Bulgaria. Ridade arv: 185
Loodi alamtabel riigile: Switzerland. Ridade arv: 231
Loodi alamtabel riigile: Cyprus. Ridade arv: 16
Loodi alamtabel riigile: Denmark. Ridade arv: 125
Loodi alamtabel riigile: Greece. Ridade arv: 362
Loodi alamtabel riigile: Spain. Ridade arv: 587
Loodi alamtabel riigile: Iceland. Ridade arv: 29
Loodi alamtabel riigile: Italy. Ridade arv: 626
Loodi alamtabel riigile: Lithuania. Ridade arv: 84
Loodi alamtabel riigile: Luxembourg. Ridade arv: 20
Loodi alamtabel riigile: Montenegro. Ridade arv: 16
Loodi alamtabel riigile: Malta. Ridade arv: 34
Loodi alamtabel riigile: Norway. Ridade arv: 93
Loodi alamtabel riigile: Portugal. Ridade arv: 247
Loodi alamtabel riigile: Serbia. Ridade arv: 224
Loodi alamtabel riigile: Slovenia. Ridade arv: 71
Loodi alamtabel riigile: Slovakia. Ridade arv: 98
Loodi alamtabel riigile: Turkey. Ridade arv: 840
Loodi alamtabel riigile: Kosovo. Ridade arv: 4
Loodi alamtabel riigile: Czechia. Ridade arv: 144
Loodi alamtabel riigile: Finland. Ridade arv: 162
Loodi alamtabel riigile: Latvia. Ridade arv: 18
Loodi alamtabel riigile: Netherlands. Ridade arv: 342
Loodi alamtabel riigile: Poland. Ridade arv: 392
Loodi alamtabel riigile: Sweden. Ridade arv: 198
Loodi alamtabel riigile: Liechtenstein. Ridade arv: 12

In [33]:
kuriteod = df['iccs'].unique()
print(kuriteod)

['ICCS0101' 'ICCS02011' 'ICCS0401' 'ICCS0501' 'ICCS05012' 'ICCS0502'
 'ICCS050211']

In [34]:
unikaalsed_riigid2 = df2['country'].unique()
countries2 = {}

for riik in unikaalsed_riigid2:
    # Filtreerime algse DataFrame'i ainult selle riigi ridade järgi
    alamtabel = df2[df2['country'] == riik].copy()

    # Salvestame alamtabeli sõnastikku
    countries2[riik] = alamtabel

    print(f"Loodi alamtabel riigile: {riik}. Ridade arv: {len(alamtabel)}")

Loodi alamtabel riigile: Albania. Ridade arv: 62
Loodi alamtabel riigile: Austria. Ridade arv: 321
Loodi alamtabel riigile: Bosnia and Herzegovina. Ridade arv: 3
Loodi alamtabel riigile: Belgium. Ridade arv: 399
Loodi alamtabel riigile: Bulgaria. Ridade arv: 185
Loodi alamtabel riigile: Switzerland. Ridade arv: 231
Loodi alamtabel riigile: Cyprus. Ridade arv: 16
Loodi alamtabel riigile: Denmark. Ridade arv: 125
Loodi alamtabel riigile: Greece. Ridade arv: 362
Loodi alamtabel riigile: Spain. Ridade arv: 587
Loodi alamtabel riigile: Iceland. Ridade arv: 29
Loodi alamtabel riigile: Italy. Ridade arv: 626
Loodi alamtabel riigile: Lithuania. Ridade arv: 84
Loodi alamtabel riigile: Luxembourg. Ridade arv: 20
Loodi alamtabel riigile: Montenegro. Ridade arv: 16
Loodi alamtabel riigile: Malta. Ridade arv: 34
Loodi alamtabel riigile: Norway. Ridade arv: 89
Loodi alamtabel riigile: Portugal. Ridade arv: 247
Loodi alamtabel riigile: Serbia. Ridade arv: 7
Loodi alamtabel riigile: Slovenia. Ridade arv: 71
Loodi alamtabel riigile: Slovakia. Ridade arv: 98
Loodi alamtabel riigile: Turkey. Ridade arv: 840
Loodi alamtabel riigile: Kosovo. Ridade arv: 4
Loodi alamtabel riigile: Czechia. Ridade arv: 144
Loodi alamtabel riigile: Finland. Ridade arv: 162
Loodi alamtabel riigile: Latvia. Ridade arv: 18
Loodi alamtabel riigile: Netherlands. Ridade arv: 300
Loodi alamtabel riigile: Poland. Ridade arv: 248
Loodi alamtabel riigile: Sweden. Ridade arv: 198
Loodi alamtabel riigile: Liechtenstein. Ridade arv: 12

In [38]:

for riik in countries1:
    leia_ohutuim('ICCS0101',countries1[riik])

Ohutuim regioon on: Gjirokastër riigis Albania

Keskmine kogus on: 1.8666666666666667

Ühik on: NR
Ohutuim regioon on: Waldviertel riigis Austria

Keskmine kogus on: 0.8

Ühik on: NR
Ohutuim regioon on: Bosnia and Herzegovina riigis Bosnia and Herzegovina

Keskmine kogus on: 46.86666666666667

Ühik on: NR
Ohutuim regioon on: Bezirk Verviers — Deutschsprachige Gemeinschaft riigis Belgium

Keskmine kogus on: 1.0

Ühik on: NR
Ohutuim regioon on: Smolyan riigis Bulgaria

Keskmine kogus on: 1.0

Ühik on: NR
Ohutuim regioon on: Switzerland riigis Switzerland

Keskmine kogus on: nan

Ühik on: NR
Ohutuim regioon on: Cyprus riigis Cyprus

Keskmine kogus on: 11.733333333333333

Ühik on: NR
Ohutuim regioon on: Østsjælland riigis Denmark

Keskmine kogus on: 2.066666666666667

Ühik on: NR
Ohutuim regioon on: Pieria riigis Greece

Keskmine kogus on: 0.8

Ühik on: NR
Ohutuim regioon on: Huesca riigis Spain

Keskmine kogus on: 1.0

Ühik on: NR
Ohutuim regioon on: Höfuðborgarsvæði riigis Iceland

Keskmine kogus on: 1.2

Ühik on: NR
Ohutuim regioon on: Ascoli Piceno riigis Italy

Keskmine kogus on: 0.7333333333333333

Ühik on: NR
Ohutuim regioon on: Lithuania riigis Lithuania

Keskmine kogus on: nan

Ühik on: NR
Ohutuim regioon on: Luxembourg riigis Luxembourg

Keskmine kogus on: 4.4

Ühik on: NR
Ohutuim regioon on: Montenegro riigis Montenegro

Keskmine kogus on: 15.333333333333334

Ühik on: NR
Ohutuim regioon on: Malta riigis Malta

Keskmine kogus on: 5.133333333333334

Ühik on: NR
Ohutuim regioon on: Trøndelag riigis Norway

Keskmine kogus on: 1.7333333333333334

Ühik on: NR
Ohutuim regioon on: Alto Minho riigis Portugal

Keskmine kogus on: 1.3333333333333333

Ühik on: NR
Ohutuim regioon on: Pirotska oblast riigis Serbia

Keskmine kogus on: 1.1333333333333333

Ühik on: NR
Ohutuim regioon on: Slovenia riigis Slovenia

Keskmine kogus on: nan

Ühik on: NR
Ohutuim regioon on: Trenčiansky kraj riigis Slovakia

Keskmine kogus on: 6.0

Ühik on: NR
Ohutuim regioon on: Bayburt riigis Turkey

Keskmine kogus on: 1.0666666666666667

Ühik on: NR
Ohutuim regioon on: Kosovo* riigis Kosovo

Keskmine kogus on: nan

Ühik on: NR

IndexError: single positional indexer is out-of-bounds

In [41]:
df1.loc[df1['geo']=='Switzerland']

,freq,unit,iccs,geo,2008,2009,2010,2011,2012,2013,...,2016,2017,2018,2019,2020,2021,2022,2023,country,total
168,A,NR,ICCS0101,Switzerland,NaN,51.0,52.0,46.0,45.0,57.0,...,45.0,45.0,50.0,46.0,47.0,42.0,42.0,53.0,Switzerland,NaN
1922,A,NR,ICCS02011,Switzerland,NaN,24478.0,23491.0,22153.0,21992.0,21923.0,...,21228.0,21188.0,22225.0,23087.0,23050.0,21651.0,23364.0,23735.0,Switzerland,NaN
3580,A,NR,ICCS0401,Switzerland,NaN,3530.0,2853.0,3113.0,3603.0,3196.0,...,1876.0,1746.0,1643.0,1872.0,1949.0,1736.0,1941.0,1930.0,Switzerland,NaN
5437,A,NR,ICCS0501,Switzerland,NaN,64268.0,62243.0,65172.0,73714.0,68730.0,...,46539.0,41351.0,38871.0,36418.0,32819.0,31186.0,35732.0,41429.0,Switzerland,NaN
7080,A,NR,ICCS05012,Switzerland,NaN,NaN,NaN,NaN,42491.0,39672.0,...,26948.0,24081.0,23426.0,21351.0,18405.0,18234.0,20788.0,24763.0,Switzerland,NaN
8838,A,NR,ICCS0502,Switzerland,NaN,180501.0,170792.0,199652.0,211248.0,193327.0,...,142370.0,137368.0,131545.0,132646.0,121322.0,117585.0,138970.0,168575.0,Switzerland,NaN
10697,A,NR,ICCS050211,Switzerland,NaN,8449.0,7557.0,7475.0,7644.0,6267.0,...,6024.0,6617.0,7606.0,8675.0,9631.0,12562.0,18698.0,26890.0,Switzerland,NaN

In [40]:
eemaldaRead(tyhjadRead(df1))

16

,freq,unit,iccs,geo,2008,2009,2010,2011,2012,2013,...,2016,2017,2018,2019,2020,2021,2022,2023,country,total
0,A,NR,ICCS0101,Albania,88.0,82.0,118.0,124.0,126.0,107.0,...,71.0,52.0,51.0,58.0,52.0,61.0,42.0,34.0,Albania,78.933333
1,A,NR,ICCS0101,Shqipëria,88.0,82.0,118.0,124.0,126.0,107.0,...,71.0,52.0,51.0,58.0,52.0,61.0,42.0,34.0,Albania,78.933333
2,A,NR,ICCS0101,Veri,40.0,37.0,54.0,53.0,51.0,49.0,...,22.0,19.0,26.0,18.0,21.0,21.0,17.0,14.0,Albania,32.533333
3,A,NR,ICCS0101,Dibër,3.0,4.0,6.0,8.0,5.0,7.0,...,NaN,3.0,5.0,3.0,NaN,4.0,1.0,NaN,Albania,3.600000
4,A,NR,ICCS0101,Durrës,8.0,15.0,15.0,16.0,8.0,13.0,...,4.0,6.0,6.0,4.0,9.0,3.0,5.0,4.0,Albania,8.533333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12332,A,NR,ICCS050211,"Mardin, Batman, Şırnak, Siirt",172.0,199.0,224.0,180.0,378.0,624.0,...,842.0,525.0,434.0,411.0,436.0,365.0,324.0,285.0,Turkey,462.400000
12333,A,NR,ICCS050211,Mardin,49.0,59.0,57.0,46.0,106.0,193.0,...,241.0,125.0,119.0,110.0,109.0,62.0,77.0,112.0,Turkey,126.200000
12334,A,NR,ICCS050211,Batman,67.0,87.0,55.0,79.0,163.0,288.0,...,524.0,324.0,242.0,238.0,240.0,240.0,189.0,138.0,Turkey,240.600000
12335,A,NR,ICCS050211,Şırnak,41.0,40.0,103.0,48.0,87.0,110.0,...,36.0,26.0,28.0,22.0,25.0,29.0,27.0,24.0,Turkey,61.533333
12336,A,NR,ICCS050211,Siirt,15.0,13.0,9.0,7.0,22.0,33.0,...,41.0,50.0,45.0,41.0,62.0,34.0,31.0,11.0,Turkey,34.066667

In [44]:
df1 = df1.fillna(0)

In [45]:
df1.loc[df1['geo']=='Switzerland']

,freq,unit,iccs,geo,2008,2009,2010,2011,2012,2013,...,2016,2017,2018,2019,2020,2021,2022,2023,country,total
168,A,NR,ICCS0101,Switzerland,0.0,51.0,52.0,46.0,45.0,57.0,...,45.0,45.0,50.0,46.0,47.0,42.0,42.0,53.0,Switzerland,0.0
1922,A,NR,ICCS02011,Switzerland,0.0,24478.0,23491.0,22153.0,21992.0,21923.0,...,21228.0,21188.0,22225.0,23087.0,23050.0,21651.0,23364.0,23735.0,Switzerland,0.0
3580,A,NR,ICCS0401,Switzerland,0.0,3530.0,2853.0,3113.0,3603.0,3196.0,...,1876.0,1746.0,1643.0,1872.0,1949.0,1736.0,1941.0,1930.0,Switzerland,0.0
5437,A,NR,ICCS0501,Switzerland,0.0,64268.0,62243.0,65172.0,73714.0,68730.0,...,46539.0,41351.0,38871.0,36418.0,32819.0,31186.0,35732.0,41429.0,Switzerland,0.0
7080,A,NR,ICCS05012,Switzerland,0.0,0.0,0.0,0.0,42491.0,39672.0,...,26948.0,24081.0,23426.0,21351.0,18405.0,18234.0,20788.0,24763.0,Switzerland,0.0
8838,A,NR,ICCS0502,Switzerland,0.0,180501.0,170792.0,199652.0,211248.0,193327.0,...,142370.0,137368.0,131545.0,132646.0,121322.0,117585.0,138970.0,168575.0,Switzerland,0.0
10697,A,NR,ICCS050211,Switzerland,0.0,8449.0,7557.0,7475.0,7644.0,6267.0,...,6024.0,6617.0,7606.0,8675.0,9631.0,12562.0,18698.0,26890.0,Switzerland,0.0

In [46]:
df1['total'] = np.mean(df1.iloc[:, 4:19].values, axis=1)
df1.loc[df1['geo']=='Switzerland']

,freq,unit,iccs,geo,2008,2009,2010,2011,2012,2013,...,2016,2017,2018,2019,2020,2021,2022,2023,country,total
168,A,NR,ICCS0101,Switzerland,0.0,51.0,52.0,46.0,45.0,57.0,...,45.0,45.0,50.0,46.0,47.0,42.0,42.0,53.0,Switzerland,44.400000
1922,A,NR,ICCS02011,Switzerland,0.0,24478.0,23491.0,22153.0,21992.0,21923.0,...,21228.0,21188.0,22225.0,23087.0,23050.0,21651.0,23364.0,23735.0,Switzerland,20729.466667
3580,A,NR,ICCS0401,Switzerland,0.0,3530.0,2853.0,3113.0,3603.0,3196.0,...,1876.0,1746.0,1643.0,1872.0,1949.0,1736.0,1941.0,1930.0,Switzerland,2218.800000
5437,A,NR,ICCS0501,Switzerland,0.0,64268.0,62243.0,65172.0,73714.0,68730.0,...,46539.0,41351.0,38871.0,36418.0,32819.0,31186.0,35732.0,41429.0,Switzerland,47553.466667
7080,A,NR,ICCS05012,Switzerland,0.0,0.0,0.0,0.0,42491.0,39672.0,...,26948.0,24081.0,23426.0,21351.0,18405.0,18234.0,20788.0,24763.0,Switzerland,20183.733333
8838,A,NR,ICCS0502,Switzerland,0.0,180501.0,170792.0,199652.0,211248.0,193327.0,...,142370.0,137368.0,131545.0,132646.0,121322.0,117585.0,138970.0,168575.0,Switzerland,146806.533333
10697,A,NR,ICCS050211,Switzerland,0.0,8449.0,7557.0,7475.0,7644.0,6267.0,...,6024.0,6617.0,7606.0,8675.0,9631.0,12562.0,18698.0,26890.0,Switzerland,8003.466667

In [47]:
for riik in countries1:
    leia_ohutuim('ICCS0101',countries1[riik])

Ohutuim regioon on: Gjirokastër riigis Albania

Keskmine kogus on: 1.8666666666666667

Ühik on: NR
Ohutuim regioon on: Waldviertel riigis Austria

Keskmine kogus on: 0.8

Ühik on: NR
Ohutuim regioon on: Bosnia and Herzegovina riigis Bosnia and Herzegovina

Keskmine kogus on: 46.86666666666667

Ühik on: NR
Ohutuim regioon on: Bezirk Verviers — Deutschsprachige Gemeinschaft riigis Belgium

Keskmine kogus on: 1.0

Ühik on: NR
Ohutuim regioon on: Smolyan riigis Bulgaria

Keskmine kogus on: 1.0

Ühik on: NR
Ohutuim regioon on: Switzerland riigis Switzerland

Keskmine kogus on: nan

Ühik on: NR
Ohutuim regioon on: Cyprus riigis Cyprus

Keskmine kogus on: 11.733333333333333

Ühik on: NR
Ohutuim regioon on: Østsjælland riigis Denmark

Keskmine kogus on: 2.066666666666667

Ühik on: NR
Ohutuim regioon on: Pieria riigis Greece

Keskmine kogus on: 0.8

Ühik on: NR
Ohutuim regioon on: Huesca riigis Spain

Keskmine kogus on: 1.0

Ühik on: NR
Ohutuim regioon on: Höfuðborgarsvæði riigis Iceland

Keskmine kogus on: 1.2

Ühik on: NR
Ohutuim regioon on: Ascoli Piceno riigis Italy

Keskmine kogus on: 0.7333333333333333

Ühik on: NR
Ohutuim regioon on: Lithuania riigis Lithuania

Keskmine kogus on: nan

Ühik on: NR
Ohutuim regioon on: Luxembourg riigis Luxembourg

Keskmine kogus on: 4.4

Ühik on: NR
Ohutuim regioon on: Montenegro riigis Montenegro

Keskmine kogus on: 15.333333333333334

Ühik on: NR
Ohutuim regioon on: Malta riigis Malta

Keskmine kogus on: 5.133333333333334

Ühik on: NR
Ohutuim regioon on: Trøndelag riigis Norway

Keskmine kogus on: 1.7333333333333334

Ühik on: NR
Ohutuim regioon on: Alto Minho riigis Portugal

Keskmine kogus on: 1.3333333333333333

Ühik on: NR
Ohutuim regioon on: Pirotska oblast riigis Serbia

Keskmine kogus on: 1.1333333333333333

Ühik on: NR
Ohutuim regioon on: Slovenia riigis Slovenia

Keskmine kogus on: nan

Ühik on: NR
Ohutuim regioon on: Trenčiansky kraj riigis Slovakia

Keskmine kogus on: 6.0

Ühik on: NR
Ohutuim regioon on: Bayburt riigis Turkey

Keskmine kogus on: 1.0666666666666667

Ühik on: NR
Ohutuim regioon on: Kosovo* riigis Kosovo

Keskmine kogus on: nan

Ühik on: NR

IndexError: single positional indexer is out-of-bounds

In [48]:
unikaalsed_riigid = df1['country'].unique()
countries1 = {}

for riik in unikaalsed_riigid:
    # Filtreerime algse DataFrame'i ainult selle riigi ridade järgi
    alamtabel = df1[df1['country'] == riik].copy()

    # Salvestame alamtabeli sõnastikku
    countries1[riik] = alamtabel

    print(f"Loodi alamtabel riigile: {riik}. Ridade arv: {len(alamtabel)}")

Loodi alamtabel riigile: Albania. Ridade arv: 68
Loodi alamtabel riigile: Austria. Ridade arv: 321
Loodi alamtabel riigile: Bosnia and Herzegovina. Ridade arv: 4
Loodi alamtabel riigile: Belgium. Ridade arv: 404
Loodi alamtabel riigile: Bulgaria. Ridade arv: 185
Loodi alamtabel riigile: Switzerland. Ridade arv: 231
Loodi alamtabel riigile: Cyprus. Ridade arv: 16
Loodi alamtabel riigile: Denmark. Ridade arv: 125
Loodi alamtabel riigile: Greece. Ridade arv: 362
Loodi alamtabel riigile: Spain. Ridade arv: 587
Loodi alamtabel riigile: Iceland. Ridade arv: 29
Loodi alamtabel riigile: Italy. Ridade arv: 626
Loodi alamtabel riigile: Lithuania. Ridade arv: 84
Loodi alamtabel riigile: Luxembourg. Ridade arv: 20
Loodi alamtabel riigile: Montenegro. Ridade arv: 16
Loodi alamtabel riigile: Malta. Ridade arv: 34
Loodi alamtabel riigile: Norway. Ridade arv: 93
Loodi alamtabel riigile: Portugal. Ridade arv: 247
Loodi alamtabel riigile: Serbia. Ridade arv: 224
Loodi alamtabel riigile: Slovenia. Ridade arv: 71
Loodi alamtabel riigile: Slovakia. Ridade arv: 98
Loodi alamtabel riigile: Turkey. Ridade arv: 840
Loodi alamtabel riigile: Kosovo. Ridade arv: 4
Loodi alamtabel riigile: Czechia. Ridade arv: 144
Loodi alamtabel riigile: Finland. Ridade arv: 162
Loodi alamtabel riigile: Latvia. Ridade arv: 18
Loodi alamtabel riigile: Netherlands. Ridade arv: 342
Loodi alamtabel riigile: Poland. Ridade arv: 392
Loodi alamtabel riigile: Sweden. Ridade arv: 198
Loodi alamtabel riigile: Liechtenstein. Ridade arv: 12

In [58]:
for riik in countries1:
    leia_ohutuim('ICCS0101',countries1[riik])

Ohutuim regioon on: Gjirokastër riigis Albania

Keskmine kogus on: 1.8666666666666667

Ühik on: NR
Ohutuim regioon on: Waldviertel riigis Austria

Keskmine kogus on: 0.8

Ühik on: NR
Ohutuim regioon on: Bosnia and Herzegovina riigis Bosnia and Herzegovina

Keskmine kogus on: 46.86666666666667

Ühik on: NR
Ohutuim regioon on: Bezirk Verviers — Deutschsprachige Gemeinschaft riigis Belgium

Keskmine kogus on: 1.0

Ühik on: NR
Ohutuim regioon on: Smolyan riigis Bulgaria

Keskmine kogus on: 1.0

Ühik on: NR
Ohutuim regioon on: Thurgau riigis Switzerland

Keskmine kogus on: 1.0

Ühik on: NR
Ohutuim regioon on: Cyprus riigis Cyprus

Keskmine kogus on: 11.733333333333333

Ühik on: NR
Ohutuim regioon on: Østsjælland riigis Denmark

Keskmine kogus on: 2.066666666666667

Ühik on: NR
Ohutuim regioon on: Pieria riigis Greece

Keskmine kogus on: 0.8

Ühik on: NR
Ohutuim regioon on: Huesca riigis Spain

Keskmine kogus on: 1.0

Ühik on: NR
Ohutuim regioon on: Höfuðborgarsvæði riigis Iceland

Keskmine kogus on: 1.2

Ühik on: NR
Ohutuim regioon on: Ascoli Piceno riigis Italy

Keskmine kogus on: 0.7333333333333333

Ühik on: NR
Ohutuim regioon on: Tauragės apskritis riigis Lithuania

Keskmine kogus on: 3.533333333333333

Ühik on: NR
Ohutuim regioon on: Luxembourg riigis Luxembourg

Keskmine kogus on: 4.4

Ühik on: NR
Ohutuim regioon on: Montenegro riigis Montenegro

Keskmine kogus on: 15.333333333333334

Ühik on: NR
Ohutuim regioon on: Malta riigis Malta

Keskmine kogus on: 5.133333333333334

Ühik on: NR
Ohutuim regioon on: Trøndelag riigis Norway

Keskmine kogus on: 1.7333333333333334

Ühik on: NR
Ohutuim regioon on: Alto Minho riigis Portugal

Keskmine kogus on: 1.3333333333333333

Ühik on: NR
Ohutuim regioon on: Pirotska oblast riigis Serbia

Keskmine kogus on: 1.1333333333333333

Ühik on: NR
Ohutuim regioon on: Savinjska riigis Slovenia

Keskmine kogus on: 1.2666666666666666

Ühik on: NR
Ohutuim regioon on: Trenčiansky kraj riigis Slovakia

Keskmine kogus on: 6.0

Ühik on: NR
Ohutuim regioon on: Bayburt riigis Turkey

Keskmine kogus on: 1.0666666666666667

Ühik on: NR
Ohutuim regioon on: Kosovo* riigis Kosovo

Keskmine kogus on: 47.06666666666667

Ühik on: NR
Czechia
Finland
Latvia
Netherlands
Poland
Sweden
Liechtenstein

In [54]:
for riik in countries1:
    print(countries1[riik].shape)

(68, 22)
(321, 22)
(4, 22)
(404, 22)
(185, 22)
(231, 22)
(16, 22)
(125, 22)
(362, 22)
(587, 22)
(29, 22)
(626, 22)
(84, 22)
(20, 22)
(16, 22)
(34, 22)
(93, 22)
(247, 22)
(224, 22)
(71, 22)
(98, 22)
(840, 22)
(4, 22)
(144, 22)
(162, 22)
(18, 22)
(342, 22)
(392, 22)
(198, 22)
(12, 22)